@model PlexLights.ViewModels.IndexViewModel;

<h3 class="mb-3">Create Configuration</h3>

<form asp-page-handler="AddConfig" method="post">
    @if (Model.Lights.Count > 0 && Model.Devices.Count > 0)
    {
        <div class="row g-3 justify-content-center mb-3">
            <div class="col col-md-8">
                <input name="Name" class="form-control" placeholder="Configuration Name" aria-label="Configuration Name">
            </div>
        </div>

        <div class="row g-3 justify-content-center">
            <div class="col-12 col-md-4">
                @if (Model.Lights.Count == 0)
                {
                    <p class="lead">No saved lights.</p>
                }
                else
                {
                    <select class="custom-select" name="LightId" aria-label="light-select" required>
                        <option value="" selected>Select a light</option>
                        @foreach (var light in Model.Lights)
                        {
                            <option value="@light.Id">@light.Name - @light.IPAddress</option>
                        }
                    </select>
                }
            </div>

            <div class="col-12 col-md-4">
                @if (Model.Devices.Count == 0)
                {
                    <p class="lead">No Plex devices found.</p>
                }
                else
                {
                    <select class="custom-select" name="DeviceId" aria-label="light-select" required>
                        <option value="" selected>Select a Plex device</option>
                        @foreach (var device in Model.Devices)
                        {
                            <option value="@device.Id">@device.Name - @device.ClientId</option>
                        }
                    </select>
                }
            </div>

        </div>

        <div class="d-grid gap-2 col-8 col-md-3 my-3 mx-auto">
            <input class="btn btn-primary" type="submit" value="Create Config"/>
        </div>
    }
</form>