@using PlexLights.Models
@model List<PlexLights.Entities.Config>

<h3 class="mb-3">Current Configs</h3>

@if (Model.Count == 0)
{
    <p class="lead">No saved configurations.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
        @foreach (var config in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title">@config.Name</h5>
                                <h6 class="card-subtitle text-secondary mb-2">@config.Device.Name</h6>
                            </div>
                            <button type="button" data-delete_config="@config.Id" class="btn-close" aria-label="Delete Configuration"></button>
                        </div>

                        <ul class="list-group">
                            @foreach (var light in config.Lights)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>
                                        <img src="/static/light-bulb.svg" alt="" width="18" height="18" title="light-bulb">
                                        @light.Name
                                    </span>
                                    <span class="badge bg-primary rounded-pill">@light.IPAddress</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script>
    // Click a delete button to remove a configuration.
    const deleteButtons = document.querySelectorAll("[data-delete_config]");
    for (let button of deleteButtons) {
      button.onclick = (event) => deleteConfig(event, button.dataset.delete_config);
    }

    // Delete a configuration by its client id
    async function deleteConfig(event, clientId) {
      event.stopPropagation();
      if (!confirm("Delete this configuration?")) return;
      await fetch(`/delete/${clientId}`, {
        method: "delete",
      });
      location.reload();
    }
</script>
